:root {
  --title: 40px;
}

.box-picture {
  width: 90%;
  height: 100%;
  margin: 0 auto 40px auto;
}

.box-picture__title {
  text-align: center;
  font-size: var(--title);
}

.text__inner {
  font-size: 1.2em;
}

.box__img {
  text-align: center;
}

.box__img img {
  max-width: 100%;
}

.box-carta {
  width: 90%;
  height: 1200px;
  margin: 0 auto;
}
